name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Build with Gradle Wrapper
        run: ./gradlew build

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v3
        with:
          name: java-app-jar
          path: build/libs/*.jar

  docker-deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 1️⃣ Authentification GCP
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # 2️⃣ Installer gcloud CLI
      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: my-java-project-481220
          version: latest

      # 3️⃣ Configurer Docker pour Artifact Registry
      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker europe-west1-docker.pkg.dev --quiet

      # 4️⃣ Télécharger l'artifact Java
      - name: Download JAR artifact
        uses: actions/download-artifact@v3
        with:
          name: java-app-jar
          path: ./build/libs

      # 5️⃣ Build et push Docker image sur Artifact Registry
      - name: Build and Push Docker image
        env:
          IMAGE_URI: europe-west1-docker.pkg.dev/my-java-project-481220/java-repo/java-app:latest
        run: |
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
